- content_for :title do
  Accounts &gt; New

%h1 New Account

= simple_form_for resource, :url => collection_path do |f|
  
  = f.error_notification
  / = error_messages_for resource, :object_name => "profile"
  = render :partial => "form", :locals => {:f => f}

  .form-actions
    = f.submit "Save Changes", :class => "btn btn-success"
    or 
    = link_to "cancel",  collection_path